/* arabic */
@font-face {
  font-family: 'Mustafa-Font';
  font-style: normal;
  font-weight: 400;
  src: url(https://www.kurdfonts.com/dl/tmp/5025689/K24KurdishBold-Bold.ttf) format('truetype');
}*/
/* latin-ext*/
@font-face {
  font-family: 'Mustafa-Font';
  font-style: normal;
  font-weight: 400;
  src: url(https://www.kurdfonts.com/dl/tmp/5025689/K24KurdishBold-Bold.ttf) format('truetype');
} 
/* latin */
@font-face {
  font-family: 'Mustafa-Font';
  font-style: normal;
  font-weight: 400;
  src: url(https://www.kurdfonts.com/dl/tmp/5025689/K24KurdishBold-Bold.ttf) format('truetype');
}

